<!--==========================
      Featured Services Section
    ============================-->
<section id="featured-services">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 box">
                <i class="ion-ios-arrow-thin-down"></i>
                <h4 class="title"><a href="">Réduire vos déchets</a></h4>
                <p class="description">C'est réduire les coûts liés à la gestion des dechets, c'est la que nous intervenons afin de vous permettre de les réutiliser</p>
            </div>

            <div class="col-lg-4 box box-bg">
                <i class="ion-ios-reload"></i>
                <h4 class="title"><a href="">Réutiliser vos produits</a></h4>
                <p class="description">Nous mettons notre savoir faire à votre disposition afin de réintroduire les produits en fin de vie dans le circuit de la production</p>
            </div>

            <div class="col-lg-4 box">
                <i class="ion-ios-world-outline"></i>
                <h4 class="title"><a href="">Recycler durablement</a></h4>
                <p class="description">En favorisant la réutilisation de vos thermoplastiques recyclables, ceux destinés à l'incinération diminuent. Cette diminution réduit ainsi la pollution de l'air.</p>
            </div>

        </div>
    </div>
</section><!-- #featured-services -->